.App {
  text-align: center;
}

body {
  background-image: url('/public/images/abstract-digital-grid-black-background.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
